@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

body{
  background-color: #2d313e
}

.nav-container{
}

.nav-container{
  display: flex;
  justify-content: space-between;
  background-color: #525168;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.nav-links-container{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding-left: 20px;
}

.nav-links.logo{
  font-family: "Shrikhand";
  font-size: 25px;
}

.nav-links{
  font-size: 16px;
  text-decoration: none;
  color: #f5f5f5;
}

.nav-links.right img{
  height: 18px;
  align-items: center;
}

.teacher-div{
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  gap: 25px;
}

.teacher-img{
  height: 400px;
  border-radius: 10px;
  filter: grayscale(1)
}

.teacher-name{
  font-size: 30px;
  color: #f5f5f5;
}

.teacher-description{
  font-size: 25px;
  color: #f5f5f5;
}